.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button {
    width: 300px;
    background-color: #1478F2;
    color: #eff2f5;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    
}
.login > button:hover {
    background-color: white;
    color: #2e81f4;
}

.login > div > img {
    object-fit: contain;
    height: 90px;
    margin: 20px;
}

.login > div {
    display: flex;
    flex-direction: column;
}